<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension, LongDate" />
        <defaultDocument>
            <files>
                <add value="default.php" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="FastCgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\php 7.4.3\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
<location path="index.php">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
   </system.web>
  </location>
</configuration>
